<div class="span9">
	<h2>Welcome to Power Ignition &amp; Controls Appalachia.</h2>

	<p>Originally incorporated in November, 1974 as Power Ignition Consultants Ltd., our early mission was to provide consulting services to the oilpatch. In subsequent years PIC represented five major lines of industrial ignition, which substantially contributed to the growth of the company.</p>
	<p>As the need for a full-service industrial ignition company grew, PIC included a service department and manufacturing facilities, in addition to offering a variety of engine control products.</p>
	<p>In 1993 PIC teamed up with Frank W. Murphy Mfr. to become a master stocking distributor for the full line of control and instrumentation products. FW Murphy end devices such as L1200 level switches and VS2EX vibration switches are extremely common; however, the complete line includes a full complement of electronic, micro-processor based controllers such as the S1501 and TTD for total engine control.</p>
	<p>Spartan Controls acquired Power Ignition Controls on July 1, 2003, forming Power Ignition and Controls, a division of Spartan Controls. This new division provides a complete line-up of engine and compressor controls, instrumentation and ignition systems products.</p>
	<p>In September 2011, PIC Appalachia was formed to serve our customers in the Appalachia basin.</p>
</div>